.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: clamp(16rem, 90vw, 100rem);
  margin: 0 auto;

  #fill {
    margin-top: auto;
  }

  .notice {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
    padding-bottom: 1.25em;
  }

  .copy {
    padding: 0.4em;
    text-align: center;
    color: var(--color-neutral-muted);
  }
}
